:root {
    /*--는 변수를 알려줄 때 사용*/
    --main: #F2789F;
    --main-1: #F999B7;
    --c-color: #C9CCD5;
    --c-font: 'Prompt';
    --main-2:#C9CCD5;
}




/* 모바일용 CSS*/

/* 기본 CSS*/
.container {
    width: 90%;
    max-width: 1132px;
    margin: 0 auto;
}

/*헤더 고정*/
.cfixed:after, .container:after { 
    display: block;
    content: "";
    clear: both; /* float 속성에서 발생할 문제를 위해 사용*/
}

.sec-tit{
    font-size: 2.625em;
    color: var(--main);
    font-weight: normal;
}

.divider{
    width: 90%;
    max-width: 1132px;
    margin: 0 auto;
    margin-top: 77px;
    background-color: var(--main-2);
}

.m-divider{
    width: 20px;
    margin: 0 auto;
    margin-top: 77px;
    background-color: var(--main-2);
}

.blind{
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
}

/* 모바일 - 헤더 영역 CSS */
.header{
    position: relative;
    padding: 18px 5%;
}
.header .logo{
    float: left;
}
.header .logo a{
    font-size: 1.625em;
    color: var(--main); /*RARA색*/
    font-weight: normal;
}
.header .gnb{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--main);
}
.header .gnb li{
    border-bottom: 1px solid var(--main-1);
}
.header .gnb li a{
    color: white;
    display: block; /*padding이 들어가려면 넣어야함*/
    padding: 14px 0 14px 5%;
    font-size: 0.875em;
}
.header .menu-toggle-btn{
    float: right;
    width: 20px;
    cursor: pointer;
    margin-top: 4px;
}
.header .menu-toggle-btn span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--main);
}
.header .menu-toggle-btn span:nth-child(2){
    margin: 5px 0;
}


/* 모바일 - 슬라이더 영역 CSS */
    .slider img{
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }


/* 모바일 - 디스플레이 영역 CSS */
    .display-section{
        margin-top: 59px;
        text-align: center;      
    }
    .display-section .sec-tit{
        margin-bottom: 30px;
    }
    .display-section .desc{
        font-family: var(--c-font);
        color: var(--c-color);
        line-height: 1.9;
    }

/* 모바일 - 프로모션 영역 CSS */
    .promotion-section{
        margin-top: 68px;
    }
    .promotion-section .promo-list li{
        margin-top: 52px;
        text-align: center;
    }
    .promotion-section .promo-list li:first-child{
        margin-top: 0;
    }

    .promotion-section .promo-list li img{
        height: 52px;
    }

    .promotion-section .promo-list li h3{
        margin: 29px 0 20px 0;
        color: var(--main);
        font-weight: normal;
    }

    .promotion-section .promo-list li p{
        font-size: 0.875em;
        font-family: var(--c-font);
        color: var(--c-color);
        line-height: 1.5;
    }

/* 모바일 - 최근 작업 영역 CSS */
    .work-section {
        margin-top: 73px;
    }

    .work-section .sec-tit{
        text-align: center;
        margin-bottom: 47px;
    }
    
    .work-section .work-list li{
        width: 100%;
    }
    
    .work-section .work-list li a{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .work-section .work-list li a:before{
        display: block;
        content: ""; /*before after는 content 속성이 있어야함*/
        
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        
        background-color: var(--main);
        opacity: 0;

        transition: all 0.2s;

        z-index: 10;
    }

    .work-section .work-list li a:hover:before{
        opacity: 0.8;
    }

    .work-section .work-list li .info{
        z-index: 20;
        position: absolute;
        opacity: 0;
        left: 23px;
        transition: all .03s;
    }

    .work-section .work-list li a:hover .info{
        transform: translateY(23px);
        opacity: 1;
    }

    .work-section .work-list li .info h3{
        margin-bottom: 8px;
        font-size: 1.438em;
        color: white;
        font-weight: normal;
    }

    .work-section .work-list li .info span{

        font-size: 0.875em;
        color: white;
    }

    .work-section .work-list li img{
         display: block;
         width: 100%;
         max-width: 100%;
         height: auto;
    }

/* 모바일 - 최근 글 영역 CSS */

    .blog-section{
        margin-top: 77px;
    }

    .blog-section .sec-tit{
        margin-bottom: 47px;
        text-align: center;
    }

    .blog-section .blog-list li{
        width: 100%;
        margin-top: 45px;
    }

    .blog-section .blog-list li:first-child{
        margin-top: 0;
    }

    .blog-section .blog-list li img{
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .blog-section .blog-list li time{
        display: block;
        margin: 11px 0 10px 0;
        font-size: 0.875em;
        color: #C9CCD5;
    }

    .blog-section .blog-list li h3{
        color: #424242;
        font-weight: normal;
        line-height: 1.6;
    }
/* 모바일- 연락처 영역 CSS */
    .contact-section{
        margin-top: 109px;
    }

    .contact-section .sec-tit{
        margin-bottom: 47px;
        text-align: center;
    }

    .contact-section .form-box .form input{
        margin-bottom: 38px;
        padding-bottom: 13px;
        color: var(--main-1);
    }

    .contact-section .form-box .form label{
        color: var(--main);
    }

    .contact-section .form-box .textarea  textarea{
        height: 160.5px;
        color: var(--main-1);
    }

    .contact-section .form-box .send-btn {
        margin-top: 36px;
        text-align: right;
    }

    .contact-section .form-box .send-btn button{
        border: 0;
        background-color: var(--main);
        color: white;
        padding: 15px;
        font-family: 'montserrat';
        cursor: pointer;
    }
/* 모바일 - footer 영역 CSS */
    .footer{
        margin-top: 104px;
    }
    .footer iframe{
        width: 100%;
        height: 320px;
    }

    .footer p{
        margin: 21px 0;
        text-align: center;
        color: var(--main);
    }


/* 태블릿용 CSS*/

@media all and (min-width: 768px){
/* 기본 CSS*/
    .divider{
        margin-top: 124px;
    }
    .m-divider{
        margin-top: 124px;
    }

/* 태블릿 - 헤더 영역 CSS */
    .header{
        position: static;
        padding:  28px 52px;
    }
    .header .gnb{
        position: static;
        float: right;
        width: auto; /* float: right 하려면 width를 auto로 줘야함*/
        background: none;
        margin-top: 6px;
    }
    .header .gnb li{
        float: left;
        border-bottom: 0;
        margin-left: 21px;
    }
    .header .gnb li a{
        color: var(--main);
        padding: 0;
        font-size: 1.000em;
    }
    .header .menu-toggle-btn{
        display: none;
    }


/* 태블릿 - 디스플레이 영역 CSS */
    .display-section{
        margin-top: 95px;
    }


/* 태블릿 - 프로모션 영역 CSS */
    .promotion-section {
        margin-top: 110px;
    }

    .promotion-section .promo-list li{
        float: left;
        width: 23.04688%;
        margin-left: 2.60416%;
        margin-top: 0;
    }

    .promotion-section .promo-list li:first-child{
        margin-left: 0;
    }

/* 태블릿 - 최근 작업 영역 CSS */
    .work-section {
        margin-top: 118px;
    }

    .work-section .sec-tit {
        margin-bottom: 76px;
    }

    .work-section .work-list li {
        float: left;
        width: 50%;
    }

    .work-section .work-list li .info {
        left: 37px;
    }

    .work-section .work-list li a:hover .info {
        transform: translateY(37px);
    }

/* 태블릿 - 최근 글 영역 CSS */
    .blog-section{
        margin-top: 124px;
    }

    .blog-section .sec-tit{
        margin-bottom: 76px;
    }

    .blog-section .blog-list li{
        float: left;
        width: 31.59722%;
        margin-left: 2.60417%;
        margin-top: 0;
    }

    .blog-section .blog-list li:first-child{
        margin-left: 0;
    }

/* 태블릿 - 연락처 영역 CSS */
    .contact-section {
        margin-top: 261px;
    }

    .contact-section .sec-tit{
        margin-bottom: 76px;
    }

    .contact-section .form-box .form,
    .contact-section .form-box .textarea{
        width: 48.55324%;
        float: left;
    }

    .contact-section .form-box .textarea{
        margin-left: 2.89352%;
    }

    .contact-section .form-box .form input:last-child{
        margin-bottom: 0;
    }
/* 태블릿 - footer 영역 CSS */
    .footer iframe{
        height: 450px;
    }

    .footer p{
        margin: 34px 0;
    }
}
/* PC용 CSS*/
@media all and (min-width: 960px){

/* PC - 디스플레이 영역 CSS */
    .display-section{
        text-align: left;
    }
    .display-section .sec-tit{
        width: 45%;
        float: left;
        margin-bottom: 0;
    }
    .display-section .desc{
        position: relative;
        float: right;
        padding-left: 20px;
    }
    .display-section .desc:before{
        display: block;
        position: absolute;
        top: 9px;
        left: 0;
        width: 2px;
        height: 44px;
        background-color: var(--c-color);
        content: "";

    }

/* PC - 프로모션 영역 CSS */
    .promotion-section .promo-list li{
        width: 23.4375%;
        margin-left: 2.08333%;
    }

/* PC - 최근 작업 영역 CSS */
    .work-section .work-list li {
        width: 25%;
    }

/* PC - 최근 글 영역 CSS */
    .blog-section .sec-tit{
        text-align: left;
        float: left;
        width: 30%;
    }

    .blog-section .blog-list{
        float: right;
        width: 70%;
    }

    .blog-section .blog-list li{
        width: 31.12875%;
        margin-left: 3.30688%;
    }
    .blog-section .blog-list li:first-child{
        margin-left: 0;
    }

/* PC - 연락처 영역 CSS*/
    .contact-section .sec-tit{
        float: left;
        width: 30%;
        margin-bottom: 0;
    }

    .contact-section .form-box {
        float: right;
        width: 70%;
    }

    .contact-section .form-box .form,
    .contact-section .form-box .textarea{
        width: 48.34656%;
    }

    .contact-section .form-box .textarea{
        margin-left: 3.30688%;
    }


}